# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


# Archives
*.zip
*.tar.gz
*.rar

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp
